# What are Pandas?
PANDAS: Python Data Analysis Library


Pandas allows us to analyze big data and make conclusions based on statistical theories.

Pandas can clean messy data sets, and make them readable and relevant.

Relevant data is very important in data science.

In [36]:
import pandas as pd
import numpy as np

#We create a dictionary to store the data in
d = {'Column1' : [1,2], 'Column2' : ['hello', 'goodbye']}
#dataframe
df = pd.DataFrame(data = d)

# Once we print it, we can see that our data frame is formatted into a chart
df

   Column1  Column2
0        1    hello
1        2  goodbye

In [6]:
print(df.dtypes)

Column1     int64
Column2    object
dtype: object

In [7]:
print(df.astype(str).dtypes)

Column1    object
Column2    object
dtype: object

In [37]:
print(df.astype({'Column1': 'int'}).dtypes)

Column1     int32
Column2    object
dtype: object

In [9]:
df.convert_dtypes().dtypes

Column1     Int64
Column2    string
dtype: object

In [ ]:
df = pd.DataFrame([1, 2, 3, 4, 5], index = [100, 29, 234, 1, 150], columns
                  columns = [A])

In [28]:
df = pd.read_csv('pokemon_data.csv')

print(df)

# for txt files, when loading df = pd.read_csv('pokemon_data.txt', delimiter='\t'
# Sorts everything into colums so data is seperated (for txt files)

       #                   Name   Type 1  Type 2  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison  45      49       49
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander     Fire     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion     Fire   Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 12 columns]

In [25]:
# to access top 5
# print(df.head(1))

#to access bottom 5
#print(df.tail())

# print(df.columns)

# to reference the first five names
# print(df['Name'][0:5])


# to zoom into location via rows & columns
# print(df.iloc[2, 1])
# iloc - integer location

df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [26]:
df = pd.DataFrame({'Column 1' : ['Chimchar', 'Jigglypuff', 'Ursaluna', 'Chikorita'],
                   'Column 2' : [2, 4, 6, 8], 'Column 3' : ['Red', 'Pink', 'Brown', 'Green']})

df = df.sort_values(by = 'Column 1', ascending = False)

print(df)

     Column 1  Column 2 Column 3
2    Ursaluna         6    Brown
1  Jigglypuff         4     Pink
0    Chimchar         2      Red
3   Chikorita         8    Green

In [33]:
# Let's rename the column
# To rename column, create dict w key of the original name and the
# value will be the name you change it to
# inplace is the way of saying, set the new dataframe to the changes I am passing.

# When changing multiple columns at the same time
df.rename(columns={'Name': 'Pokemon_name', 'Speed': 'Pokemon_speed'}, inplace=True)



#prints the column
df.columns

Index(['#', 'Pokemon_name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [32]:
# To delete columns use .drop
# To permanently delete columns use inplace=True

df.drop(columns=['Type 1', 'Type 2'], inplace=True)

,#,Name,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,45,49,49,65,65,45,1,False
1,2,Ivysaur,60,62,63,80,80,60,1,False
2,3,Venusaur,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,80,100,123,122,120,80,1,False
4,4,Charmander,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,80,160,60,170,130,80,6,True
799,721,Volcanion,80,110,120,130,90,70,6,True

In [34]:
# Editing rows
# We'll replace Bulbasaur with Mike

df['Pokemon_name'].replace('Bulbasaur', 'Mike')

0                       Mike
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Pokemon_name, Length: 800, dtype: object