<div style="background: #000;
            color: #FFF;
            margin: 0px;
                padding: 10px 0px 20px 0px;
            text-align: center; 
                ">
    <h1>Week 9 - Lab 1</h1>
</div>

# Exercise 1

Follow the instruction given and install the Pandas Library in VS Code. After installation, input a picture to document that you have successfully installed the Pandas Library.

https://pypi.org/project/pandas/

In a New Terminal: Should be pypi:
    
    pip install pandas 

If you have the latest version of python:

    pip3 install pandas 

Once you have the library create a simple dataframe of your choosing. Show your code.

In [2]:
import pandas as pd
import numpy as np

a = {'Food' : ['Apple','Oranges'], 'Price' : ['$1.99', '$2.99']}

df = pd.DataFrame(data = a)

print(df)

      Food  Price
0    Apple  $1.99
1  Oranges  $2.99

# Exercise 2

Create a data frame using pandas that uses a conditional statement other than if ascending = false.

In [2]:
# Create a data frame using pandas that uses a conditional statement other than if ascending = false.

df.rename(columns={'Food': 'Pokemon_name', 'Fruits': 'Pokemon_speed'}, inplace=True)

print(df)

      Food  Price
1  Oranges  $2.99
0    Apple  $1.99

In [3]:
df2 = pd.DataFrame({"Fruits" : ['Lemon', 'Orange', 'Lime', 'Bananas'], 
                    "Color" : ['Yellow', 'Orange', 'Green', 'Yellow',]})
df2 = df2.sort_values(by='Color',kind='quicksort')
df2

    Fruits   Color
2     Lime   Green
1   Orange  Orange
0    Lemon  Yellow
3  Bananas  Yellow

# Exercise 3

Create a Data Frame using pandas with Names and Age and change the datatype of age from int to str.

In [24]:
b = {'Name' : ['Matt', 'Sarah', 'Shaun'], 'Age' : [20, 25, 30]}

df = pd.DataFrame(data = b)

print(df)

print(df.dtypes)

df.astype('str').dtypes

print(df.dtypes)

    Name  Age
0   Matt   20
1  Sarah   25
2  Shaun   30
Name    object
Age      int64
dtype: object
Name    object
Age      int64
dtype: object

# Exercise 4

Write a data frame using pandas that contains a dictionary of column1 of 5 strings of letters, a column2 of 5 integers, another column3 of 5 integers and a column4 of 5 strings of letters with lower and upper cases.

In [3]:
df3 = pd.DataFrame({"Column 1" : ['Lemon', 'Apple', 'Mango', 'Guava', 'Berry'], 
                    "Column 2" : [5, 10, 15, 20, 25], "Column 3" : [30, 35, 40, 45, 50],
                    "Column 4" : ['Cookie', 'physics', 'Runner', 'pineapple', 'Vegetable']})

df3

  Column 1  Column 2  Column 3   Column 4
0    Lemon         5        30     Cookie
1    Apple        10        35    physics
2    Mango        15        40     Runner
3    Guava        20        45  pineapple
4    Berry        25        50  Vegetable

# Bonus Question

Write a Pandas program that contains data of a student for each column (you can create as many as you think are necessary). Make sure to display the default index and set a column as an Index in the dataframe. Output only one of the columns of your choice and change its datatype.